#left-bar {
  height: 900px;
  width: 288px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(225, 229, 236, 0.5);
  border-radius: 15px 0px 0px 15px;
}

#aside-leftbar {
  display: flex;
  align-items: center;
}

.shake-hands {
  margin-left: 25px;
}

.notas {
  margin: 15px 0 20px 15px;
  color: #00AD8C;
}