#main-content {
  background-color: #FBFDFE;
}

#header {
  background: #FFFFFF;
  border-radius: 12px 0px 0px 0px;
  width: 1272px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

#page-header {
  display: flex;
  align-items: center;
  width: 255px;
  margin-top: 10px;
}

.shaker-hands-right-side {
  margin-left: 48px;
  color: 1px solid #021B51;
}

.notas-right-side {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-left: 9px;
  color: #021B51;
}

.span-notas-fiscais {
  width: 255px;
  height: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #727D94;
  margin-left: 48px;
}

.main-conteiner {
  border: 1px solid grey;
  border-radius: 2px;
  display: grid;
  grid-template-areas: 'box1'
    'box2'
    'box3'
    'box4';
  margin: 20px;
  padding: 5px;
  width: 60%;
}

.main-conteiner span {
  font-size: 20px;
  padding-bottom: 10px;
}

.main-conteiner button {
  height: auto;
}

.container-bill-header {
  display: inline;
  justify-content: space-around;
  width: 1000px;
  margin-top: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #A1A8B8;
  border-radius: 4px;
}

.container-bill-menu {
  display: flex;
  justify-content: space-around;
}
