#main-content {
  background-color: #FBFDFE;
}

#header {
  background: #FFFFFF;
  border-radius: 12px 0px 0px 0px;
  width: 1272px;
  height: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

#page-header {
  display: flex;
  align-items: center;
  width: 255px;
  margin-top: 10px;
}

.shaker-hands-right-side {
  margin-left: 48px;
  color: 1px solid #021B51;
}

.notas-right-side {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-left: 9px;
  color: #021B51;
}

.span-notas-fiscais {
  width: 255px;
  height: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #727D94;
  margin-left: 48px;
}

.main-conteiner {
  border: 1px solid grey;
  border-radius: 2px;
  display: grid;
  grid-template-areas: 'box1'
    'box2'
    'box3'
    'box4';
  margin: 20px;
  padding: 5px;
  width: 60%;
}

.main-conteiner span {
  font-size: 20px;
  padding-bottom: 10px;
}

.btn-cedente-info {
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #DFE2EB;
  border-radius: 24px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(114, 125, 148, 1);
  text-align: center;
  width: 150px
}

.container-bill-header {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  border-radius: 4px;
  margin-bottom: 19px;
  width: 875px;
  margin-left: 76px;
  align-items: center;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #A1A8B8;
}

.container-bill-menu {
  display: flex;
  justify-content: space-around;
  border: 1px solid #DFE2EB;
  margin-top: 16px;
  width: 1177px;
  height: 48px;
  align-items: center;
  margin-left: 30px;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(77, 85, 102, 1);
}

.span-color{
  color: rgba(0, 173, 140, 1);
} 
  